
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="renderer" content="webkit">
	<meta charset="utf-8">
	<meta http-equiv="X-XA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0">
	<link rel="stylesheet" href="../public/css/main.css">
	<script src="../public/js/jquery.min.js"></script>
	<style>
		body{background-color:#fe809f;}
	</style>
</head>
<body>
	<header class="header">
		<a class="icon icon-l" onclick="window.history.go(-1);"> <i class="iconfont icon-arrowleft"></i>
		</a>
		<span class="title">关于</span>
	</header>
	<div class="form">
		<a href="http://e.weibo.com/uu520flowerd" class="form-item">
			<label><span class="iconfont icon-sina"></span></label>
			<span class="form-content"><span>新浪微博</span><br>UU淘世界团购网</span>
		</a>
		<a href="http://blog.sina.com.cn/u/2734643542" class="form-item">
			<label><span class="iconfont icon-tuan"></span></label>
			<span class="form-content"><span>秒杀博客</span><br>UU淘世界团购网</span>
		</a>
		<!-- <div class="text-center"><img src="../public/images/fastAttention.png" width="200" alt=""></div> -->
	</div>
	<nav class="block-bottom">
		<img src="../public/images/logo.png" alt="">
		<span>(微信号：uutaoshijie520uu)</span>
		<img src="../public/images/fastAttention.png" width="150" alt="">
	</nav>
	<span class="text-bottom">copyright ©2009-2016 uutsj reserved</span>
</body>
</html>