
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="renderer" content="webkit">
	<meta charset="utf-8">
	<meta http-equiv="X-XA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0">
	<link rel="stylesheet" href="../public/css/main.css">
	<script src="../public/js/jquery.min.js"></script>
	<style>
		body{background-color:#fe809f;}
	</style>
</head>
<body>
	<header class="header">
		<a class="icon icon-l" onclick="window.history.go(-1);"> <i class="iconfont icon-arrowleft"></i>
		</a>
		<span class="title">关于</span>
	</header>
	<div class="form">
		<div class="form-item">
			<label>联系电话：</label>
			<span class="form-content">18273827382</span>
		</div>
		<div class="form-item">
			<label>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</label>
			<span class="form-content">fejwfl@uutsj.com</span>
		</div>
		<div class="form-item">
			<label>联系地址：</label>
			<span class="form-content">湖北省武汉市武昌区中北路东亭世纪彩城大厦B座1703</span>
		</div>
	</div>
	<nav class="block-bottom">
		<img src="../public/images/logo.png" alt="">
	</nav>
	<span class="text-bottom">copyright 2016@uutsj reserved</span>
</body>
</html>