
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="renderer" content="webkit">
	<meta charset="utf-8">
	<meta http-equiv="X-XA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0">
	<link rel="stylesheet" href="../public/css/main.css">
	<script src="../public/js/jquery.min.js"></script>
	<script src="../public/js/iscroll.js"></script>
	<script src="../public/js/handlebars.min.js"></script>
	<script src="../public/js/main.min.js"></script>
</head>
<body>
	<header class="header">
		<a class="icon icon-l" onclick="window.history.go(-1);"> <i class="iconfont icon-arrowleft"></i>
		</a>
		<a class="icon icon-r"> <i class="iconfont icon-share"></i>
		</a>
		<span class="title"><img src="../public/images/logo.png" height="25" alt=""></span>
	</header>
	<section class="sliderWrapper">
		<div id="wrapper" class="sliders">
			<div class="sliderCon" id="scroller"></div>
		</div>
		<div class="indicator" id="indicator">
			<div class="dotty"></div>
			<ul class="list-indicator" id="indicatorList"></ul>
		</div>
	</section>
	<div class="priceBar">
		<div class="p-l">
			<span class="desc" id="desc">2016新款女背带连衣牛仔裙2016新款女背带连衣牛仔裙2016新款女背带连衣牛仔裙</span>
			<span class="price">￥59</span>
		</div>
		<a class="p-r"><span class="iconfont icon-cart"></span>购买链接</a>
	</div>
	<div class="product-details">
		<p>加绒裤清仓，历史超低价！快递最后一天发货啦，库存有限，有需要的妹纸赶紧下手吧黑色打底裤秋冬加厚加绒外穿高腰弹力</p>
		<img src="../public/images/details01.png" alt="">
		<p>加绒裤清仓，历史超低价！快递最后一天发货啦，库存有限，有需要的妹纸赶紧下手吧</p>
		<img src="../public/images/details02.png" alt="">
	</div>
	<nav class="titlebar text-center">
		<span class="text-pink">你可能也喜欢</span>
	</nav>
	<div>
	    <ul class="list-product" id="products-list"></ul>
	</div>
	<h4 class="page-header mb30"><span>已经到底了</span></h4>
	<script>
	    
	    $(function() {
	    	var desc = $("#desc").html().toString().substring(0,20) + "...";
	    	$("#desc").html(desc);
	      var slider = [
	      	{
	      		imgUrl:"../public/images/img750_01.png"
	      	},
	      	{
	      		imgUrl:"../public/images/img750_01.png"
	      	},
	      	{
	      		imgUrl:"../public/images/img750_01.png"
	      	},
	      	{
	      		imgUrl:"../public/images/img750_01.png"
	      	}
	      ]
	      renderSlider("scroller","indicator",slider);

	      var products = [
				{
					name:'2016新款女背带连衣牛仔裙',
					productUrl:"#",
					imgUrl:'../public/images/img357_01.png',
					editor:"小编UU",
					editorImg:"../public/images/img60_01.png"
				},
				{
					name:'2016新款女背带连衣牛仔裙',
					productUrl:"#",
					imgUrl:'../public/images/img357_02.png',
					editor:"小编UU",
					editorImg:"../public/images/img60_01.png"
				},
				{
					name:'2016新款女背带连衣牛仔裙',
					productUrl:"#",
					imgUrl:'../public/images/img357_03.png',
					editor:"小编UU",
					editorImg:"../public/images/img60_01.png"
				},
				{
					name:'2016新款女背带连衣牛仔裙',
					productUrl:"#",
					imgUrl:'../public/images/img357_04.png',
					editor:"小编UU",
					editorImg:"../public/images/img60_01.png"
				}
			]
	      renderList("products-list",products);

		    var myScroll;
			myScroll = new IScroll('#wrapper', {
				scrollX: true,
				scrollY: false,
				momentum: false,
				snap: true,
				snapSpeed: 400,
				keyBindings: true,
				indicators: {
					el: document.getElementById('indicator'),
					resize: false
				}
			});

	    });

	</script>
</body>
</html>